<div class="main-container w-full h-screen relative" [style.background-color]="'var(--bg-primary)'">
  <div class="flex w-full h-full flex-col items-start flex-nowrap relative">
    <div class="flex justify-start items-start self-stretch flex-1 min-h-0 flex-nowrap relative z-[1]">
      <div class="flex items-start w-full h-full flex-nowrap relative z-[2]">
        <!-- Sidebar Component -->
        <app-sidebar></app-sidebar>

        <!-- Main Content Area -->
        <div class="flex flex-col items-start flex-1 min-w-0 min-h-0 flex-nowrap relative z-[4]" [style.background-color]="'var(--bg-secondary)'">
          <!-- Main Header -->
          <div class="flex h-14 pt-0 pr-2 sm:pr-4 pb-0 pl-2 sm:pl-4 gap-2 sm:gap-4 items-center self-stretch shrink-0 flex-nowrap bg-[rgba(8,12,22,0.6)] relative z-[5]">
            <div class="flex items-start shrink-0 flex-nowrap relative min-w-0 flex-1">
              <div class="flex gap-2 sm:gap-2.5 items-center self-stretch shrink-0 flex-wrap relative min-w-0">
                <div class="flex flex-col items-start flex-nowrap relative">
                  <span class="h-5 shrink-0 basis-auto font-inter text-xs sm:text-sm font-normal leading-5 relative text-left whitespace-nowrap" [style.color]="'var(--text-secondary)'">Home</span>
                </div>
                <div class="flex w-3.5 flex-col items-start flex-nowrap relative flex-shrink-0">
                  <div class="w-3.5 h-3.5 shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/default/image/2025-12-25/b944d036-985d-4995-9e5b-353de5c1111a.png)] bg-cover bg-no-repeat relative"></div>
                </div>
                <div class="flex flex-col items-start flex-nowrap relative min-w-0">
                  <span class="h-5 shrink-0 basis-auto font-inter text-xs sm:text-sm font-normal leading-5 relative text-left truncate max-w-[150px] sm:max-w-none" [style.color]="'var(--text-primary)'">{{ pageTitle }}</span>
                </div>
              </div>
            </div>
            <div *ngIf="showHeaderIcons" class="flex pt-0 pr-0 pb-0 pl-auto flex-col items-end grow shrink-0 basis-0 flex-nowrap relative">
              <div class="flex gap-1 sm:gap-2 items-center shrink-0 flex-nowrap relative">
                <a class="header-icon flex w-8 h-8 justify-center items-center shrink-0 flex-nowrap rounded-[10px] relative cursor-pointer hover:opacity-75 transition-opacity">
                  <div class="w-4 h-4 shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/default/image/2025-12-25/9db7dd38-a12d-476a-8fed-674d65495f8b.png)] bg-cover bg-no-repeat relative"></div>
                </a>
                <a class="header-icon flex w-8 h-8 justify-center items-center shrink-0 flex-nowrap rounded-[10px] relative cursor-pointer hover:opacity-75 transition-opacity">
                  <div class="w-4 h-4 shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/default/image/2025-12-25/e15e0882-e566-4fe2-8222-392b0128c1e9.png)] bg-cover bg-no-repeat relative"></div>
                  <div class="w-2 h-2 shrink-0 bg-[#ef4343] rounded-full absolute top-1 right-1"></div>
                </a>
                <div class="w-px h-6 shrink-0 relative" [style.background-color]="'var(--border-color)'"></div>
                <a class="header-icon flex w-8 h-8 justify-center items-center shrink-0 flex-nowrap rounded-[10px] relative cursor-pointer hover:opacity-75 transition-opacity">
                  <div class="w-4 h-4 shrink-0 bg-[url(https://codia-f2c.s3.us-west-1.amazonaws.com/default/image/2025-12-25/8a1a247e-5e69-47f3-abc2-2d7e211352a2.png)] bg-cover bg-no-repeat relative"></div>
                </a>
              </div>
            </div>
          </div>

          <!-- Main Content Sections -->
          <div class="flex flex-col items-start self-stretch flex-1 min-h-0 flex-nowrap relative overflow-y-auto overflow-x-hidden z-[28]" style="max-height: calc(100vh - 56px); min-height: calc(100vh - 56px);" [style.background-color]="'var(--bg-secondary)'">
            <div class="w-full max-w-full px-4 sm:px-6 lg:px-8 py-6 sm:py-8 pb-8 content-wrapper" style="min-height: 100%;">
              <ng-content></ng-content>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

